

.cont_proyectos{
    background-color: rgb(40, 40, 59);
    height: 100%;
}
.section_proyectos{
    height: 100%;
}
.cont_title_resumen{
    /* background-color: orange; */
    height: 17%;
    width: 50%;
    padding-left: 11%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title_h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(233, 225, 225);
}
.cont_info_proyectos{
    height: 39%;
}
.cont_item_proyectos{
    background-color: rgb(61, 61, 73);
    height: 38%;
    display: flex;
    justify-content: space-evenly;
}
.item_proyectos{
    background-color:rgb(61, 61, 73);
    border: 2px solid orange;
    width: 25%;
    height: 80%;
    position: relative;
    bottom: 40%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.cont_proyecto{
    /* background-color:rgb(61, 61, 73); */
    /* border: 2px solid rgb(255, 0, 0); */
    width: 35%;
    height: 115%;
    position: relative;
    bottom: 65%;
    /* display: flex; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* align-items: center; */
    transition: all 0.3s ease-out;
}
.cont_proyecto:hover{
    width: 37.5%;
    height: 120%;
    transition: all 0.3s ease-out;
}
/* .cont_proyecto:hover ~ .img{
    height: 20rem;
} */

.item_proyectos_1{
    background-color:rgb(61, 61, 73);
    /* background: url('https://github.com/gonzalo12348/gonzalo12348/blob/main/Captura%20de%20pantalla%20(137).png?raw=true') no-repeat center; */
    background-size: cover;
    border: 3px solid rgb(61, 61, 73);
    width: 90%;
    height: 105%;
    position: relative;
    /* bottom: 50%; */
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-out;
    /* align-items: center; */
}
.item_proyectos_1:hover{
    border: 2px solid orange;
    cursor: pointer;
}

.title_h3_proyecto{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    color: rgb(233, 225, 225);
    /* position: relative; */
    /* bottom: 15%;
    left: 10%; */
    /* background-color: orangered; */
    /* width: 50%;
    height: 14%; */
}
.title_h3_proyecto_info{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    color: rgb(233, 225, 225);
    position: relative;
    top: 100%;
    right: 20%;
    background-color: orangered;
    height: 12%;
}
.img{
    width: 100%;
    height: 16rem;
    position: relative;
}

.title{
    /* margin: 0; */
    font-size: 2rem;
    /* color: rgb(233, 225, 225); */
    color: orange;
    letter-spacing: 2px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}
.button_github{
    display: block;
    cursor: pointer;
    /* opacity: 0; */
    /* display: none; */
    /* position: relative; */
    font-size: 4rem;
    /* height: 100%; */
    /* top: 50%; */
}
.button_github:hover{
    color: orange;
}
/* .cont_proyecto:hover ~ .cont_button_github{
    display: block;
    opacity: 0;
    color: rebeccapurple;
} */






/* --------- */

.cont_main{
    background-color: rgb(61, 61, 73);
    height: 100%;
    display: flex;
}
.cont_nameImg{
    width: 55%;
    height: 100%;
    /* border: 1px solid saddlebrown; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}
.cont_introduccion{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title_h3{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: 10;
    letter-spacing: 1.2px;
}
.title_h3_naranja{
    font-family: 'Poppins', sans-serif;
    color: orange;
    text-decoration: underline orange;
    font-weight: 400;
    font-size: 2rem;
    cursor:pointer
}
.title_main{
    /* margin: 0; */
    font-size: 7.5rem;
    color: rgb(233, 225, 225);
    letter-spacing: 2px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}
.parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    /* letter-spacing: 1.5px; */
}
.introduccion{
    /* background-color: aqua; */
    width: 80%;
    height: 100%;
    padding-left: 5%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
    color: rgb(233, 225, 225);

}
.button_imgs{
    cursor: pointer;
    height:5rem;
    font-size: 3rem;
    width: 5rem;
    /* background-color: rgb(207, 140, 15); */
    color: orange;
}
.cont_title_main{
    /* background-color: orange; */
    height: 45%;
}
.cont_iconos{
    /* background-color: orangered; */
    width: 58%;
    display: flex;
    justify-content:flex-start;
}
/* .img{
    background-color:rgb(61, 61, 73);
    width: 13%;
    color: orange;
} */
a{
    font-family: 'Poppins', sans-serif;
    color: orange;
    text-decoration: underline orange;
    font-weight: 400;
    font-size: 2rem;
    cursor:pointer
}