
.cont_resumen{
    background-color: rgb(40, 40, 59);
    height: 100%;
}
.cont_title_resumen{
    /* background-color: orange; */
    height: 17%;
    width: 50%;
    padding-left: 11%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cont_educacion{
    background-color: rgb(40, 40, 59);
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-left: none;
    border-bottom: none;
    border-right: none;
    height: 40%;
    padding-left: 10%;
    display: flex;
    /* justify-content: space-evenly; */
}
.educacion_item{
    /* background-color: rgba(233, 225, 225, 0.199); */
    /* border: 1px solid white; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-right: 5%;
}
.cont_edu_item_info{
    /* background-color: red; */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.button{
    background-color: rgb(40, 40, 59);
    border-radius: 80%;
    border: 1px solid white;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    bottom: 4%;
}
.title{
    font-size: 2.5rem;
    color: rgb(233, 225, 225);
    letter-spacing: 2px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}
.title_h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(233, 225, 225);
}
.title_h3_redirec{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: rgb(233, 225, 225);
}
.title_h3_redirec:hover{
    color: rgb(248, 203, 120);
}
.parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: rgb(233, 225, 225);
    /* letter-spacing: 1.5px; */
}